body{
  width: 900px;
  margin: auto;
}
header{
  margin-top: 8%;
}
/* .tab{
  border-width:5px;  
  border-style:dashed;
  margin-top: 3%;
} */

.img2{ 
  float: right;
  position: absolute; right: 21.4%; top: 90px;
}
.img1{
  float: left;
  margin-bottom: 3%;
}
.h1{
  margin-left: 50px;
  font-family: 'Dancing Script', cursive;
  font-size: 220%;
}
.h6{
  margin-left: 50px;
  font-size: 60%;
}
.text{
/* margin-right: 50px; */
}
.sp{
  margin-right: 8px;
}
/* .line{
  /* width: 100%; */
/* } */ 

.mainh1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size:300%;
  margin-top: 4%;
}
.mainh5{
  margin-top: 1%;
  margin-bottom: 3%;
}
.print{
  float: right;
  width: 2.5%;
  margin-bottom: 3%;
}
div{
  float: right;
}
.bigimg{
  margin-bottom: 3%;
  /* margin-left: 7%; */
}
.nop{
  
    clear: both;
    display: block;
    border: none;
    height: 10px;
    background-image: url(../img/hr-img.png);
}
.list{
  margin-top: 7%;
}
p{
  font-size: 18px;
}

.lp{
  position: absolute;
  top: 1275px;
  left: 27%;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(90, 82, 82);
}

.rp{
  position: absolute;
  top: 1275px;
  left: 50%;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(90, 82, 82);
}
/* footer  */

.fimg{
  position: absolute;
  left:400px;
  top: 1630px;
}

.h1fot{
  position: absolute;
  left:480px;
  top: 1630px;
  font-size: 23px;
  font-style: bold;
}
.h4fot{
  position: absolute;
  left:490px;
  top: 1665px;
  font-size: 16px;
  margin-right:20%;
}
.fhr{
  margin-top: 20%;
  margin-bottom: 7%;
}
.bot{
  background-color: #a7402d; /* Green */
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  right: 330px;
  top: 1700px;
}
.logo{
  position: absolute;
  right: 50%;
  top: 1750px;
}
.final{
  position: absolute;
  top: 1800px;
  text-align: center;
  right: 42%;

}
footer{
  margin-bottom: 10%co;
}